.cart__container{
    display: block;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 0;
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;
    box-shadow: 0 0 5px rgb(82, 82, 82);
    background-color: #222;
    color: white;
    position: relative 
}

.img__productos{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.cart__productos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.cart__data{
    display: flex;
}

.cart__name{
    margin-right: 25px;
    margin-left: -1000px;
}

.cart__price{
    margin-left: 20px;
    margin-right: 0px;
}

.cart__x{
    height: 20px;
    width: 20px;
    margin-left: 30px;
    background-color: #0c0b0b8f;
    border: solid white 1px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.cart__x:hover{
    background-color: rgb(148, 36, 36);
}


