.container{
    width: 300px;
    height: 300px;
    margin: 5px;
}

.imagen{
    width: 300px;
    height: 200px;
}

.seeds{
    background-color: black;
    color: white;
}

.fa-venus{
    color: white;
}

.price{
    background-color: rgb(233, 127, 6);
    color: white;
}

.nombre{
    background-color: black;
    color: white;
}