.container{
    width: 300px;
    height: 300px;
    margin: 7px;
}

.imagen{
    width: 300px;
    height: 200px;
}

.seeds{
    background-color: #1f1e1e;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.fa-venus{
    color: white;
}

.price{
    background-color: #e97f06;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nombre{
    background-color: #1f1e1e;
    color: white;
    width: 300px;
    height: 50px;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.container__top{
        align-items: center;
        display: grid;
        grid-template-columns: auto auto;
}
