.enlace{
    color: black;
}
body{
    background: rgb(161,227,76);
    background: linear-gradient(90deg, rgba(161,227,76,0.7035014689469538) 0%, rgba(78,110,38,0.6978992280505952) 100%);
}
.logo-header img{
    width: 150px;
    margin-left: 150px;
}
header{
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
}
.nav-menu ul{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.nav-menu li{
    margin-right: 1.5rem;
}
.nav-menu li a{
    text-decoration: none;
    list-style: none;
    background-color: #222;
    color: honeydew;
    padding: 10px 15px;
    display: block;
}
.nav-menu a:visited{
    color: honeydew;
}
.nav-menu a:hover{
    color: #638a31;
}
.nav-menu li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav-menu li:hover > ul{
    display:block ;
}