.quatity{
    display: flex;
    justify-content: center;
}

.quatity button{
    width: 45px;
    height: 45px;
    border: 1px solid #000;
    color: #000;
    border-radius: 0;
    background: #fff;
}

.quatity p{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
    width: 100px;
    height: 45px;
    font-size: 20px;
    color: #000;
    background: #fff;
    font-weight: 300;
}